<!DOCTYPE html>
<html>
  <title>willnote</title>
  <%= crsf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<head>

<body>
  <div class="header">
    
  </div>
    
</body>
</head>
</html>

